.document {
  display: flex;
  align-items: center;
  font-size: 1em;

  &--button {
    width: 100%;
    text-align: start;

    .documentSubTitle {
      color: var(--clr-document-subtitle-link);
    }

    &:hover {
      .documentName {
        color: var(--clr-primary);
      }
    }
  }

  &TextWrapper {
    display: flex;
    flex-direction: column;
    margin-left: 16px;
  }

  &SubTitle {
    color: var(--clr-9);
    margin-bottom: 3px;
  }
}
