.resize {
  flex-shrink: 0;
  position: relative;
  height: 100%;
  width: 1px;
  background-color: var(--clr-resizer);
  cursor: e-resize;
  transition-property: background-color;
  transition-duration: 150ms;
  outline: none;

  &:hover,
  &.active {
    background-color: var(--clr-resizer-hover);
    transition-duration: 200ms;
  }

  &:hover {
    transition-delay: 150ms;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 10px;
    transform: translateX(-50%);
  }
}
