.heading {
  font-family: 'Roboto Slab', sans-serif;
  font-weight: 700;

  &--1 {
    font-size: 2em;
  }

  &--2 {
    font-size: 1.75em;
    font-weight: 300;
  }

  &--3 {
    font-size: 1.5em;
  }

  &--4 {
    font-size: 1.25em;
  }

  &--5 {
    font-size: 1em;
  }

&--6 {
    font-size: 0.875em;
  }
}
