@use '../Text/Text.module.scss';

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.textareaWrapper {
  height: 100%;
  padding-right: 4px;
  padding-bottom: 2px;
  padding-left: 2px;
}

.textarea {
  @extend .text--mono-regular;
  color: var(--clr-markdown-text);
  width: 100%;
  height: 100%;
  resize: none;
  background: none;
  border: none;
  padding: 9px 12px 7px 14px;

  &:not(:focus, :hover) {
    &::-webkit-scrollbar-thumb {
      background: transparent;
    }
  }

  &--hide-outline {
    outline: none;
  }
}
