.header {
  display: flex;
  align-items: center;
  height: 72px;
  background-color: var(--clr-4);
}

.sidebarExpandButton {
  background-color: var(--clr-2);
  width: 72px;
  height: 72px;

  &:focus-visible {
    background-color: var(--clr-primary);
  }

  @media (hover: hover) {
    &:hover {
      background-color: var(--clr-primary);
    }
  }
}

.logo {
  margin-left: 24px;
  margin-right: 29px;
}

.divider {
  height: 55%;
  width: 1px;
  background-color: var(--clr-3);
}

.document {
  margin-right: 20px;
  margin-left: 24px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1em;
  width: 0;
  flex-grow: 1;
  overflow: hidden;

  &Icon {
    flex-shrink: 0;
  }

  &TextWrapper {
    display: flex;
    flex-direction: column;
    margin-left: 16px;
  }

  &SubTitle {
    color: var(--clr-7);
    margin-bottom: 3px;
  }

  &NameButton {
    display: flex;
    align-items: center;
    font-size: 1em;
    text-align: start;
    min-height: 22px;
    padding-bottom: 5px;
    width: 100%;

    @media (hover: hover) {
      .documentNameButtonIcon {
        opacity: 0;
      }

      &:hover {
        .documentNameButtonIcon {
          opacity: 1;
        }
      }
    }

    &Text {
      overflow: hidden;
      white-space: nowrap;
      display: block;
      text-overflow: ellipsis;
    }

    &Icon {
      margin-left: 5px;
      transform: translateY(1px);
      height: 15px;
    }
  }

  &RenameForm {
    display: flex;
    width: 100%;
  }
}

.deleteButton {
  margin-left: auto;
  margin-right: 17px;
  padding: 7px;

  &:hover,
  &:focus-visible {
    color: var(--clr-primary);
  }
}

.deleteModal {
  max-width: 343px;

  &Heading {
    color: var(--clr-preview-text-1);
  }

  &Paragraph {
    margin-top: 16px;
    margin-bottom: 16px;
    color: var(--clr-preview-text-2);
  }

  &Button {
    width: 100%;
  }
}
