.header {
  display: flex;
  align-items: center;
  height: 72px;
  background-color: var(--clr-5);
}

.sidebarExpandButton {
  background-color: var(--clr-3);
  width: 72px;
  height: 72px;
}

.logo {
  margin-left: 24px;
  margin-right: 29px;
}

.divider {
  height: 55%;
  width: 1px;
  background-color: var(--clr-4);
}

.document {
  margin-left: 24px;
}
