.document {
  --depth: 0;
  position: relative;
  display: flex;
  align-items: center;
  font-size: 1em;
  width: 100%;
  text-align: start;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: calc(var(--depth) * 20px + 24px);
  padding-right: 14px;
  min-height: 67px;

  &--button {
    &:hover,
    &:focus-within {
      .documentName {
        color: var(--clr-primary);
      }

      .documentMore {
        opacity: 0.5;
      }
    }

    &.active {
      background-color: var(--clr-4);

      &::after {
        content: '';
        position: absolute;
        height: 100%;
        width: 2px;
        background-color: var(--clr-3);
        right: 0;
      }
    }
  }

  &Icon {
    width: 17px;
  }

  &TextWrapper {
    display: flex;
    flex-direction: column;
    margin-left: 16px;
    overflow: hidden;
    white-space: nowrap;
  }

  &Name {
    text-overflow: ellipsis;
    overflow: hidden;
    min-height: 23px;
  }

  &SubTitle {
    margin-bottom: 3px;
    color: var(--clr-document-subtitle-link);
  }

  &InputWrapper {
    display: flex;
    align-items: center;
    width: 100%;
  }

  &Input {
    display: block;
    width: 90%;
  }

  &More {
    position: relative;
    margin-left: auto;
    opacity: 0;
    width: 23px;
    height: 23px;
    transition: opacity 125ms;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 140%;
      height: 140%;
      border-radius: 50%;
      background-color: rgba(255, 255, 255, 0.15);
      opacity: 0;
      transition: opacity 125ms;
    }

    &:hover,
    &:focus-within {
      opacity: 1 !important;
    }

    &:active {
      &::before {
        opacity: 1;
      }
    }

    @media (hover: none) {
      opacity: 0.5 !important;
    }
  }
}
