.sidebar {
  --transition-time: 200ms;
  background-color: var(--clr-5);
  overflow: hidden;
  width: 250px;
  transition: width var(--transition-time);

  &.hidden {
    width: 0;

    .contentWrapper {
      transform: translateX(-100%);
    }
  }
}

.containerPadding {
  padding-left: 24px;
  padding-right: 24px;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  width: 250px;
  padding-top: 24px;
  padding-bottom: 24px;
  height: 100%;
  transition: transform var(--transition-time);
}

.textMyDocuments {
  color: var(--clr-6);
}

.buttonNewDocument {
  margin-top: 29px;
  width: 100%;
}

.documents {
  margin-top: 9px;
  margin-bottom: 24px;
  overflow: hidden;
  overflow-y: auto;
  padding-top: 2px;
  padding-bottom: 2px;

  &::-webkit-scrollbar-thumb {
    background: var(--clr-2);

    &:hover {
      background: var(--clr-3);
    }
  }
}
.document {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 1em;
  width: 100%;
  text-align: start;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 24px;
  padding-right: 14px;

  &--button {
    &::before {
      content: '';
      position: absolute;
      left: 0px;
      height: 9px;
      width: 5px;
      background-color: var(--clr-1);
      border-top-right-radius: 100vw;
      border-bottom-right-radius: 100vw;
      transition: height 200ms, background-color 200ms;
    }

    &:hover,
    &:focus-visible {
      .documentName {
        color: var(--clr-primary);
      }

      &::before {
        height: 40%;
      }
    }

    &.active {
      &::before {
        height: 75%;
        background-color: var(--clr-primary);
      }
    }
  }

  &TextWrapper {
    display: flex;
    flex-direction: column;
    margin-left: 16px;
    overflow: hidden;
    white-space: nowrap;
  }

  &Name {
    text-overflow: ellipsis;
    overflow: hidden;
    min-height: 23px;
  }

  &SubTitle {
    margin-bottom: 3px;
    color: var(--clr-document-subtitle-link);
  }

  &InputWrapper {
    display: flex;
    align-items: center;
    width: 100%;
  }

  &Input {
    display: block;
    width: 90%;
  }
}

.themeSwitchWrapper {
  margin-top: auto;
}
