.layout {
  display: grid;
  grid-template-areas:
    'sidebar header'
    'sidebar main';

  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  height: 100vh;
  overflow: hidden;
}

.sidebar {
  grid-area: sidebar;
}

.header {
  grid-area: header;
}

.main {
  grid-area: main;
  display: flex;
  overflow: hidden;
}

.markdown {
  flex-shrink: 0;
}

.preview {
  flex-grow: 1;
}
