@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto+Slab:wght@300;400;700&family=Roboto:wght@300;400;500&display=swap');

:root {
  --clr-primary: #e46643;
  --clr-1: #151619;
  --clr-2: #ffffff;
  --clr-3: #35393f;
  --clr-4: #5a6069;
  --clr-5: #2b2d31;
  --clr-7: #1d1f22;
  --clr-8: #7c8187;
  --clr-9: #c1c4cb;

  --clr-button-hover: #f39765;
  --clr-document-subtitle-link: #7c8187;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

br {
  content: '';
  display: block;
  height: 21px;
}

::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;

  &-thumb {
    background: var(--clr-4);
    border-radius: 100vw;

    &:hover {
      background: #78808c;
    }
  }
}

a {
  color: inherit;
}

button {
  color: inherit;
  font-family: inherit;
  background: none;
  border: none;
  cursor: pointer;
}

body {
  background-color: var(--clr-1);
  color: var(--clr-2);
  font-family: 'Roboto', sans-serif;
}
